:root{
  --body-bg-color:whitesmoke;
  --primary-color: #120988;
  --accent-color: #e06f00;
  --text-color-light: whitesmoke;
  --text-color-dark: #000;
  --header-font: 'Playfair Display', serif;
  --body-font: 'Work Sans', sans-serif; 
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}